@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

@media screen and (max-width: 1100px) {

  //===================== Header
  .header__nav--links {
    flex-basis: 100%;
    order: 3;
  }

  .header__hero {
    gap: 2rem;

    &--title {
      font-size: type.font-size-st(lc);
    }
  }

  //===================== Events
  .events {

    &__timing {

      &--event {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content);

        &__date-time {
          justify-self: center;
        }

        &__desc {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          justify-self: start;
        }

        &__link {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          justify-self: end;
        }
      }
    }
  }
}