@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/gradients" as grad;
@use "../general-styles/typography" as type;

@media screen and (max-width: 600px) {

  // ======================Utility Class
  .padd {
    padding: pad.padding-d-v(sc) pad.padding-d-h(s);
  }

  // ======================Header
  .header {
    &__nav {
      flex-direction: column;
      align-items: flex-start;

      &--logo {
        align-self: stretch;
      }

      &--cta {
        align-self: center;
      }

      &--links {
        flex-direction: column;

        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;

        background-image: grad.gradient(primary-gradient);
        padding: pad.padding-d-v(l) pad.padding-d-h(l);
        transform: translateX(-100rem) rotate(-.5turn);
        transition: all .8s ease-in-out;
        z-index: 10;
      }

      .display-nav {
        transform: translateX(0) rotate(0);
      }

      &--hamburger {
        position: fixed;
        top: 2.8rem;
        right: 3rem;
        height: 4rem;
        width: 7rem;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: .5rem;

        padding: 0 1rem;
        background-image: grad.gradient(primary-gradient);
        border-radius: .5rem;

        z-index: 11;

        .line-1,
        .line-2 {
          height: .2rem;
          background-color: clrs.color-theme("1");
          transition: all .3s ease-in-out;
        }

        .line-1 {
          width: 70%;

          align-self: flex-end;
        }

        .line-2 {
          width: 100%;
          align-self: center;
        }

        .line-1-toggled {
          transform: rotate(45deg) translateX(-.5rem) translateY(1rem);
          width: 50%;
        }

        .line-2-toggled {
          transform: rotate(-45deg) translateX(.4rem) translateY(-.2rem);
          width: 50%;
        }

      }
    }

    &__hero {
      &--location {
        font-size: type.font-size-st(s);
      }
    }
  }

}