*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a,
input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
fieldset,
textarea {
  background: none;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem));
  justify-content: center;
}

.overall-layout {
  grid-column: container-start/container-end;
}

.sec-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.padd {
  padding: calc(1rem + 8vh) calc(1rem + 8vw);
}

.sec-link {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  padding: 1rem 3rem;
}

.sec-para {
  font-size: 1.5rem;
  color: hsl(238, 50%, 13%);
  text-align: center;
  margin-bottom: 4rem;
}
.sec-para span {
  display: block;
}

.sec-mini-title {
  font-size: 1.5rem;
  color: hsl(327, 97%, 48%);
  position: relative;
  display: inline-block;
}
.sec-mini-title::after, .sec-mini-title::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 0.2rem;
  width: 2rem;
  background-color: hsl(327, 97%, 48%);
}
.sec-mini-title::before {
  left: -60%;
}
.sec-mini-title::after {
  right: -60%;
}

.sec-title {
  font-size: calc(1rem + 1.5vw);
  font-weight: 900;
  color: hsl(238, 50%, 13%);
  text-align: center;
}

.sec-sub-para {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(17, 18, 50, 0.4);
}

.responsive-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

.sec-sub-title {
  font-size: 2rem;
  font-weight: 500;
  color: hsl(327, 97%, 48%);
  transition: all 0.25s ease-in-out;
}
@media (hover) {
  .sec-sub-title {
    color: hsl(238, 50%, 13%);
  }
  .sec-sub-title:hover {
    color: hsl(327, 97%, 48%);
  }
}

.header {
  background-image: url("../../up/images/hero/hero-bg.jpg");
  background-size: cover;
  padding-bottom: calc(2rem + 12vh + 2rem + 12vh);
  gap: calc(4rem + 4vw);
}
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.header__nav--logo {
  width: 20rem;
}
.header__nav--logo img {
  width: 75%;
  height: 75%;
}
.header__nav--links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.header__nav--links__link {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
}
.header__nav--cta {
  background-color: hsl(253, 82%, 42%);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.header__nav--cta:hover {
  background-color: hsl(327, 97%, 48%);
}
.header__hero {
  display: grid;
  justify-items: center;
  gap: 3rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.header__hero--location {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgba(245, 247, 250, 0.2);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.header__hero--title {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
  line-height: 1.1;
}
.header__hero--title span {
  display: block;
}
.header__hero--para {
  color: hsl(0, 0%, 100%);
}
.header__hero--ticket-link {
  background-color: hsl(327, 97%, 48%);
}
.header__hero--ticket-link:hover {
  background-color: hsl(253, 82%, 42%);
}

.countdown {
  background-color: hsl(216, 33%, 97%);
  padding-bottom: 0;
}
.countdown__content {
  background-image: url("../../up/images/countdown/bg.png");
  background-color: hsl(253, 82%, 42%);
  border: 1rem solid rgba(245, 247, 250, 0.3);
  border-radius: 0.5rem;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.countdown__content::before, .countdown__content::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.countdown__content::before {
  left: 0;
  background-image: url("../../up/images/countdown/left-shape.png");
}
.countdown__content::after {
  right: 0;
  background-image: url("../../up/images/countdown/right-shape.png");
}
.countdown__content--day, .countdown__content--hour, .countdown__content--minute, .countdown__content--second {
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}
.countdown__content--day div, .countdown__content--hour div, .countdown__content--minute div, .countdown__content--second div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countdown__content--day div p:first-child, .countdown__content--hour div p:first-child, .countdown__content--minute div p:first-child, .countdown__content--second div p:first-child {
  font-size: calc(1rem + 2vw);
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.countdown__content--day div p:last-child, .countdown__content--hour div p:last-child, .countdown__content--minute div p:last-child, .countdown__content--second div p:last-child {
  font-size: calc(1rem + 1vw);
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}
.countdown__content--day p, .countdown__content--hour p, .countdown__content--minute p, .countdown__content--second p {
  font-size: calc(1rem + 2vw);
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.features {
  background-color: hsl(216, 33%, 97%);
  padding-top: 0;
}
.features__mini-title::before {
  left: -25% !important;
}
.features__mini-title::after {
  right: -25% !important;
}
.features__container--feature {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, min-content);
  place-items: start;
  gap: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  padding: 3rem 3rem;
  position: relative;
  overflow: hidden;
}
.features__container--feature__icon {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 2.5rem;
  padding: 1.5rem 1.5rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(253, 82%, 42%);
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
}
.features__container--feature__number {
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: end;
  font-size: 4rem;
  color: rgba(17, 18, 50, 0.05);
}
.features__container--feature__title {
  grid-column: 1/-1;
  grid-row: 2/3;
  font-size: 2rem;
}
.features__container--feature__desc {
  grid-column: 1/-1;
  grid-row: 3/4;
}
.features__container--feature::before, .features__container--feature::after {
  content: "";
  position: absolute;
  height: 30%;
  width: 2rem;
  background-repeat: no-repeat;
  transition: all 0.25s ease-in-out;
}
.features__container--feature::before {
  top: 0;
  left: 0;
  background-image: url("../../up/images/features/dots-blue.svg");
}
.features__container--feature::after {
  bottom: 0;
  right: 0;
  background-image: url("../../up/images/features/dots-pink.svg");
}
@media (hover) {
  .features__container--feature::before {
    left: -3rem;
  }
  .features__container--feature::after {
    right: -3rem;
  }
  .features__container--feature:hover::before {
    left: 0;
  }
  .features__container--feature:hover::after {
    right: 0;
  }
}

.about {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-image: url("../../up/images/about/about-bg.png");
  background-color: hsl(238, 50%, 13%);
  background-repeat: no-repeat;
  background-size: cover;
}
.about__img {
  flex-basis: 50%;
  height: 100%;
}
.about__content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.about__content--mini-title {
  color: hsl(0, 0%, 100%);
}
.about__content--mini-title::before, .about__content--mini-title::after {
  display: none;
}
.about__content--title, .about__content--para, .about__content--date {
  color: hsl(0, 0%, 100%);
}
.about__content--para {
  text-align: left;
  margin-bottom: 0;
}
.about__content--para span {
  margin-top: 1rem;
}
.about__content--date {
  margin-bottom: 0;
}
.about__content--date span {
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem;
  background-color: hsl(327, 97%, 48%);
  border-radius: 50%;
}

.speakers__container--speaker {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(9, min-content) 2rem repeat(2, min-content);
  position: relative;
  overflow: hidden;
}
.speakers__container--speaker__img {
  grid-column: 1/-1;
  grid-row: 1/10;
}
.speakers__container--speaker__img img {
  border-radius: 0.5rem;
}
.speakers__container--speaker__name {
  grid-column: 2/-1;
  grid-row: 11/12;
}
.speakers__container--speaker__role {
  grid-column: 2/-1;
  grid-row: 12/13;
}
.speakers__container--speaker__social {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease-in-out;
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.speakers__container--speaker__social i {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  opacity: 0.7;
  border-radius: 0.5rem;
  cursor: pointer;
}
.speakers__container--speaker__social i:first-child {
  background-color: hsl(221, 44%, 42%);
}
.speakers__container--speaker__social i:nth-child(2) {
  background-color: hsl(206, 82%, 63%);
}
.speakers__container--speaker__social i:nth-child(3) {
  background-color: hsl(201, 100%, 35%);
}
.speakers__container--speaker__social i:nth-child(4) {
  background-color: hsl(329, 100%, 50%);
}
@media (hover) {
  .speakers__container--speaker__social {
    left: -10rem;
    opacity: 0;
  }
  .speakers__container--speaker:hover .speakers__container--speaker__social {
    left: 50%;
    opacity: 1;
  }
}

.events {
  background-color: hsl(216, 33%, 97%);
}
.events__days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 0.5rem;
}
.events__days--day {
  background-color: hsl(0, 0%, 100%);
  padding: 3rem 3rem;
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
  border-bottom: 4px solid transparent;
}
.events__days--day:hover:not(.events__days--day.current) {
  border-bottom: 4px solid hsl(327, 97%, 48%);
}
.events__days--day:not(.events__days--day.current) {
  cursor: pointer;
}
.events__days--day p {
  text-align: center;
}
.events__days--day.current {
  background-color: hsl(253, 82%, 42%);
}
.events__days--day.current p {
  color: hsl(0, 0%, 100%);
}
.events__timing {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 2rem;
}
.events__timing--event {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.25s ease-in-out;
  border-left: 4px solid transparent;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  gap: 2rem;
}
.events__timing--event:hover {
  border-left: 4px solid hsl(327, 97%, 48%);
}
.events__timing--event__date-time {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.events__timing--event__date-time > p {
  font-size: 4rem;
  font-weight: 900;
}
.events__timing--event__desc {
  justify-self: center;
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.events__timing--event__desc figure {
  width: 8rem;
  height: 8rem;
}
.events__timing--event__desc figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.events__timing--event__desc > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.events__timing--event__desc > div p:last-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.events__timing--event__desc > div p:last-of-type i {
  color: hsl(327, 97%, 48%);
  font-size: 1.5rem;
}
.events__timing--event__link {
  background-color: hsl(253, 82%, 42%);
  align-self: center;
  justify-self: end;
}
.events__timing--event__link:hover {
  background-color: hsl(327, 97%, 48%);
}
.events__more-events {
  background-color: hsl(327, 97%, 48%);
  margin-top: 4rem;
}
.events__more-events:hover {
  background-color: hsl(253, 82%, 42%);
}

@media screen and (max-width: 1500px) {
  body {
    background-color: hsl(216, 33%, 97%);
  }
}
@media screen and (max-width: 1100px) {
  .header__nav--links {
    flex-basis: 100%;
    order: 3;
  }
  .header__hero {
    gap: 2rem;
  }
  .header__hero--title {
    font-size: 3.5rem;
  }
  .events__timing--event {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
  }
  .events__timing--event__date-time {
    justify-self: center;
  }
  .events__timing--event__desc {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
  }
  .events__timing--event__link {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: end;
  }
}
@media screen and (max-width: 800px) {
  .events__timing--event {
    grid-template-rows: repeat(3, min-content);
  }
  .events__timing--event__desc {
    justify-self: center;
  }
  .events__timing--event__link {
    grid-row: 3/4;
    justify-self: center;
  }
}
@media screen and (max-width: 600px) {
  .padd {
    padding: calc(1rem + 4vh) calc(1rem + 2vw);
  }
  .responsive-grid {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  .header__nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__nav--logo {
    align-self: stretch;
  }
  .header__nav--cta {
    align-self: center;
  }
  .header__nav--links {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-image: linear-gradient(45deg, hsla(253, 82%, 42%, 0.9), hsla(327, 97%, 48%, 0.7));
    padding: calc(2rem + 12vh) calc(2rem + 12vw);
    transform: translateX(-100rem) rotate(-0.5turn);
    transition: all 0.8s ease-in-out;
    z-index: 10;
  }
  .header__nav .display-nav {
    transform: translateX(0) rotate(0);
  }
  .header__nav--hamburger {
    position: fixed;
    top: 2.8rem;
    right: 3rem;
    height: 4rem;
    width: 7rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    padding: 0 1rem;
    background-image: linear-gradient(45deg, hsla(253, 82%, 42%, 0.9), hsla(327, 97%, 48%, 0.7));
    border-radius: 0.5rem;
    z-index: 11;
  }
  .header__nav--hamburger .line-1,
  .header__nav--hamburger .line-2 {
    height: 0.2rem;
    background-color: hsl(216, 33%, 97%);
    transition: all 0.3s ease-in-out;
  }
  .header__nav--hamburger .line-1 {
    width: 70%;
    align-self: flex-end;
  }
  .header__nav--hamburger .line-2 {
    width: 100%;
    align-self: center;
  }
  .header__nav--hamburger .line-1-toggled {
    transform: rotate(45deg) translateX(-0.5rem) translateY(1rem);
    width: 50%;
  }
  .header__nav--hamburger .line-2-toggled {
    transform: rotate(-45deg) translateX(0.4rem) translateY(-0.2rem);
    width: 50%;
  }
  .header__hero--location {
    font-size: 1rem;
  }
  .countdown {
    padding: 0;
  }
  .countdown__content {
    flex-direction: column;
    border-left: 0;
    border-right: 0;
    transform: translateY(0);
    border-radius: 0;
  }
  .countdown__content::before, .countdown__content::after {
    width: 50%;
  }
  .countdown__content::after {
    background-position: right center;
  }
  .countdown__content--day, .countdown__content--hour, .countdown__content--minute, .countdown__content--second {
    flex-direction: column;
  }
  .countdown__content--day div p:first-child, .countdown__content--hour div p:first-child, .countdown__content--minute div p:first-child, .countdown__content--second div p:first-child {
    font-size: 2.5rem;
  }
  .countdown__content--day div p:last-child, .countdown__content--hour div p:last-child, .countdown__content--minute div p:last-child, .countdown__content--second div p:last-child {
    font-size: 1.5rem;
  }
  .about {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .about--img, .about--content {
    flex-basis: auto;
    height: auto;
  }
}
@media screen and (max-width: 500px) {
  .events__timing--event__desc {
    flex-direction: column;
    row-gap: 2rem;
  }
  .events__timing--event__desc div {
    gap: 2rem;
  }
  .events__timing--event__desc div p:first-of-type {
    text-align: center;
  }
  .events__timing--event__desc div p:last-of-type {
    flex-direction: column;
    gap: 2rem;
  }
}/*# sourceMappingURL=main-style.css.map */